// Custom styles.
.post {
   margin-top: 60px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  }

  .menu .menu-item a {
    padding: 5px 20px;
    background: #222;
    border: none;
    color: #fff;
    transition-property: background;
    box-shadow: 5px 5px 5px #888;
    border-radius: 10px;
}

.menu .menu-item {
    margin-left: 20px;
}

//首行缩进
//.post-body p { text-indent: 2em; }
